export GAZEBO_INSTALL_PATH=~/Documents/gazebo-classic/install
export LD_LIBRARY_PATH=${GAZEBO_INSTALL_PATH}/lib:$LD_LIBRARY_PATH
export PATH=${GAZEBO_INSTALL_PATH}/bin:$PATH
export PKG_CONFIG_PATH=${GAZEBO_INSTALL_PATH}/lib/pkgconfig:$PKG_CONFIG_PATH